@font-face {
    font-family: 'Shadows Into Light Two';
    src: url('../fonts/shadow/shadowsintolighttwo-regular-webfont.woff2') format('woff2'),
         url('../fonts/shadow/shadowsintolighttwo-regular-webfont.woff') format('woff'),
         url('../fonts/shadow/shadowsintolighttwo-regular-webfont.ttf') format('truetype'),
         url('../fonts/shadow/shadowsintolighttwo-regular-webfont.svg#shadows_into_light_tworegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$blue: #00336a;

body {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 22px;
  color: $blue;
  margin-top: 40px;
}

h4 {
  font-size: 10px;
  color: $blue;
  margin-top: 15px;
}

input {
  font-weight: 500;
  font-size: 13px;
  color: #5a5959;
  @include placeholder {
    font-size: 13px;
    font-weight: 500;
    color: #5a5959;
  }
}

h3 {
  font-weight: 500;
  font-size: 10px;
  color: #afafaf;
  margin-bottom: 22px;
}

.generate-button {
  font-size: 14px;
  font-weight: 500;
  color: #FFF;
  padding: 15px 25px;
  border-radius: 25px;
  background-color: $blue;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  margin: 45px 0 15px;
  cursor: pointer;
	display: inline-block;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	&:hover {
		background-color: #FFF;
		color: $blue;
	}
	&.bottom {
		position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
		text-align: center;
		margin-bottom: 7px;
	}
}

.lang {
  font-size: 15px;
  display: block;
  text-align: right;
  color: $blue;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}
