main {
  // background: url('../images/background.png') no-repeat 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,b1f4cf+0,9890e3+100,1e5799+100 */
  background: #7db9e8; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #7db9e8 0%, #b1f4cf 0%, #9890e3 100%, #1e5799 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #7db9e8 0%,#b1f4cf 0%,#9890e3 100%,#1e5799 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #7db9e8 0%,#b1f4cf 0%,#9890e3 100%,#1e5799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  position: relative;
	background-size: cover;
	height: 100vh;
	width: 100%;
}
.wrapper {
	height: 100%;
	width: calc(100% - 20px);
	margin: 0 auto;
	font-size: 0;
	text-align: center;
	&::after {
		display: inline-block;
		content: '';
		vertical-align: middle;
		width: 0;
		height: 100%;
		visibility: hidden;
	}
}

.header-mobile {
	max-width: 690px;
	background-color: #f2f2f2;
	margin: 0 auto;
	padding: 30px 50px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	display: none;
}

.canvas-container {
  width: 75%;
	display: inline-block;
	vertical-align: middle;
	max-width: 738px;
	&.output {
		position: absolute;
		top: 48%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 75%;
    display: inline-block;
    vertical-align: middle;
		img {
			width: 100%;
			height: auto;
      border-radius: 25px;
		}
	}
  canvas {
    border-radius: 25px;
    height: 100%;
    width: 100%;
  }
}

.generator {
  width: 25%;
  display: inline-block;
	vertical-align: middle;
  background: #f2f2f2;
  background-size: cover;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: relative;
	max-width: 350px;
  &::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 45px;
    @include bg-gradient-l2r(#dcdcdc, #f2f2f2);
  }
  .container {
    padding: 40px 50px 30px;
    text-align: center;
		-webkit-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.11);
		-moz-box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.11);
		box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.11);
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		position: relative;
		z-index: 20;
    .inputs {
      margin-top: 50px;
        input {
        text-align: center;
        width: 100%;
        padding: 10px 0;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid #d9d9d9;
        margin-top: 15px;
      }
    }
    .choose-color {
      margin-top: 45px;
      .color-container {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .color {
          height: 45px;
          width: 45px;
          cursor: pointer;
					transition: all 0.3s ease-in-out;
          background: url('../images/icon-red.png') no-repeat center;
          &:nth-child(2) {
            background: url('../images/icon-yellow.png') no-repeat center;
          }
          &:last-child {
            background: url('../images/icon-blue.png') no-repeat center;
          }
					&:hover {
						opacity: 0.5;
					}
        }
      }
    }
  }
}
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	transition: all 0.5s ease-in-out;
	display: none;
	z-index: 200;
	&.show {
		display: block;
	}
	.social {
		padding: 50px;
		max-width: 550px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: gainsboro;
		border-radius: 25px;
		h1 {
			margin-top: 0;
		}
		h2 {
			margin-top: 30px;
			margin-bottom: 40px;
			color: #000;
      text-transform: initial;
		}
		h3 {
			color: #484748;
		}
		p {
			margin-bottom: 50px;
			text-transform: none;
			font-size: 14px;
			.direct {
				text-decoration: none;
				color: $blue;
			}
			&:first-child {
				margin-bottom: 10px;
			}
		}
		.social-container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			a {
				cursor: pointer;
				svg {
					fill: #484748;
					transition: all 0.3s ease-in-out;
					&:hover {
						fill: $blue;
					}
				}
			}
		}
		.close {
			position: absolute;
			right: 20px;
			top: 20px;
			cursor: pointer;
			&:hover {
				svg {
					fill: $blue;
				}
			}
			svg {
				transition: all 0.5s ease-in-out;
				fill: #484748;
			}
		}
	}
}
