
@media screen and (max-width: 1270px) {
	main {
		height: auto;
		&.output {
			height: 100vh;
		}
	}
	.wrapper {
		padding: 25px 0;
	}
	.header-mobile {
		display: block;
		width: 90%;
		position: relative;
		&::after {
			position: absolute;
			content: '';
			bottom: 0px;
			left: 0;
			height: 30px;
			width: 100%;
			background: -webkit-linear-gradient( #f2f2f2, #dcdcdc); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient( #f2f2f2, #dcdcdc); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient( #f2f2f2, #dcdcdc); /* For Firefox 3.6 to 15 */
			background: linear-gradient( #f2f2f2, #dcdcdc); /* Standard syntax (must be last) */
		}
	}
	.canvas-container {
		width: 100%;
		display: block;
		margin: 0 auto;
		border-radius: 25px;
		position: relative;
    z-index: 30;
	}
	.generator {
		width: 90%;
		display: block;
		margin: 0 auto;
		max-width: 690px;
		// border-top-left-radius: 0;
		// border-top-right-radius: 0;
		border-radius: 25px;
		position: relative;
		top: -15px;
		&::before {
			top: 0;
			height: 60px;
			width: 100%;
			background: -webkit-linear-gradient( #dcdcdc, #f2f2f2); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient( #dcdcdc, #f2f2f2); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient( #dcdcdc, #f2f2f2); /* For Firefox 3.6 to 15 */
			background: linear-gradient( #dcdcdc, #f2f2f2); /* Standard syntax (must be last) */
		}
		.container {
			border-radius: 25px;
			border-top-left-radius: 0;
			border-top-right-radius: 0;
			padding-top: 45px;
			.header {
				display: none;
			}
			.inputs {
				margin-top: 0;
			}
			.choose-color {
				.color-container {
					max-width: 300px;
					margin: 20px auto 0;
				}
			}
		}
	}
}
@media screen and (max-width: 480px) {
	.generator {
		width: 90%;
		.container {
			padding: 40px 25px;
		}
	}
}
